<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <div style="height: 60px"></div>
		 <div class="list" class="pt150" >

		  <a class="item item-icon-left" ng-click="ACtrl.resetConsulta()">
		    <i class="icon ion-email"></i>
		    reset consultas
		  </a>

		  <a class="item item-icon-left" ng-click="ACtrl.resetDataInit()">
		    <i class="icon ion-chatbubble-working"></i>
		    reset data inicial
		    
		  </a>

		  <a class="item item-icon-left" ng-click="ACtrl.zync()">
		    <i class="icon ion-loop"></i>
		    sincronizar
		    
		  </a>

		  <a class="item item-icon-left" ng-click="ACtrl.logOut()">
		    <i class="icon ion-log-out"></i>
		    cerrar sesion
		    
		  </a>


		<!--   <a class="item item-icon-left" href="#">
		    <i class="icon ion-mic-a"></i>
		    Record album
		    <span class="item-note">
		      Grammy
		    </span>
		  </a>

		  <a class="item item-icon-left" ng-click="ACtrl.reset()">
		    <i class="icon ion-person-stalker"></i>
		    Friends
		    <span class="badge badge-assertive">0</span>
		  </a> -->

		</div>
    </ion-list>
    <button class="button button-primary button-block " ng-click="ACtrl.checkForUpdates()">
  Check for updates
</button>
<button class="button button-stable button-block button-pulse" ng-if="ACtrl.hasUpdate" ng-click="ACtrl.doUpdate()">
  download update
</button>
  </ion-content>
</ion-view>
