<ion-view class="fancy-select-items modal">
  <ion-header-bar class="bar-positive">

    <button ng-click="FCtrl.closeModal()" class="button button-positive button-icon ion-android-arrow-back"></button>
    <h1 class="title">Fotos Pendientes</h1>
  </ion-header-bar>
  <ion-content>
  <div style="height: 60px"></div>
        <div class="list">
          <label
                 ng-repeat="opcion in FCtrl.fotosFalt"                 
                 class="item item-text-wrap "
                 ng-class="{positive:opcion.value===item.sl.value}"
                 on-tap='FCtrl.setIdTipoFoto(opcion)'>       
            {{opcion.NombreFoto}}
          </label>
        </div>
      </ion-content>
  </ion-view>