
	
	<div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	    
	    <input type="text" placeholder="placa" ng-model="PCtrl.data.placa">
	  </label>
	 
	</div>

	<div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	  <span><!-- servicio --> </span>
	   
	 <!--    <select class="ml15" ng-model="data.sl"  ng-options="service.value as service.label for service in services" 
	    ng-init="onInitSrv();" >       
  	</select> -->
	  </label>
	 
	</div>

 
</div>