<ion-view view-title="{{PCtrl.title}}">
<div class="float-button fbAdd">
    <span class="height-fix">
      <a on-touch="PCtrl.placaPopup()"  class="button content button-icon ">
      <!-- ui-sref="add-trip" -->
        <i class="ion-plus-round my-icon"> </i>
      </a>
    </span>
  </div>
  <ion-content>
<!-- <span>{{PCtrl}}</span> -->

<ion-list>
  <ion-item class="item-icon-right" ng-repeat="placa in PCtrl.placas" href="#/tab/chats/{{placa.idinspeccion}}">
   {{placa.placa}}
      <i class="icon ion-chevron-right icon-accessory"></i>
  </ion-item>
</ion-list>

<button class="button button-block button-dark" ng-click="PCtrl.identifyUser()">
  Identify a user
</button>

<button class="button button-block button-dark" ng-click="PCtrl.insertPLaca()">
  InsertPlaca
</button>
</ion-content>
</ion-view>
