/* Empty. Add your own CSS if you like */
ion-content {
  top: 0 !important;
}

.red{
  color: red;
}
.green {
  color: green;
  font-size: 25px;
}


.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 30px;
  font-size: 26px;
  /*background: $warning;*/
  position: fixed;
 
  right: 10px; /* Adjust to where you want it */
  z-index: 9999;
}
.fbCamera{
  bottom: 130px;
  background: blue;  /*rgb(72, 239, 53);*/
}
.fbVideoCompress{
  bottom: 80px;
  background:  rgb(72, 239, 53);
}
.fbAdd{
  bottom: 55px;
  background:  blue;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */
  color: $light;
}

/*.platform-android .float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 30px;
  background: $assertive;
  position: absolute;
  
  right: 20px;
  z-index: 9999;
}

.platform-ios .float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 30px;
  background: $assertive;
  position: absolute;
  bottom: 60px;
  right: 20px;
  z-index: 9999;
}*/

.my-icon{
    font-size: 30px;
}

.ml120{
  margin-left: 120px;
}

/*
SPINNER*/

.item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em;
 }

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #999;
  fill: #FFD438;
}
.white{
      color: white;
}



/*padding top 50*/

.pt50{
  padding-top: 50px;
}

.pt150{
  padding-top: 150px;
}

.pl20{
  padding-left: 20px;
}
.myblue{
      color: blue;
}
.mygreen {
  color: green;
}
.pl30{
  padding-left: 30px;
}